/* START fonts */
@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
body{
    font-family: "Droid Arabic Kufi" , serif;
    font-size: 16px;

}
@import url('https://fonts.googleapis.com/css?family=El+Messiri');
.eng{
    font-family: 'El Messiri', sans-serif;
}
/* END fonts */


/* START navbar */
.navbar-inverse {
     background: #2D2D2F;
     margin-bottom: 0px;

}
.navbar-inverse .navbar-nav > .active > a:hover{
    transition: all 0.5s ease;
            border-color: #2D2D2d;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
    background:#2D2D2d;
    border-color: #2D2D2d;
}
.navbar-inverse .navbar-nav>li>a{
         border-color: #2D2D2d;
        margin: 17px 5px;
        padding: 0px;
}
.navbar-inverse .navbar-nav > .open > a,
 .navbar-inverse .navbar-nav > .open > a:hover,
 .navbar-inverse .navbar-nav > .open > a:focus {
    color: #fff;
}
.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.open>a{
    background-image:none;
    box-shadow: none;
}
.nav-tabs{
      border: none;
}
li{
    list-style: none;
}
.navbar-brand i{
    margin: 0px 5px;
    font-size: 24px;
}
.dropdown-menu{ 
    text-align: right;
    background-color: #2D2D2d; }
.dropdown-menu>li>a{
    color: #fff; 
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover{
    background-color: #2D2D2d;
    border: none;
    border-color: #2D2D2d;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover{
    color: #fff;
    background-image: none;
    background-color: #383636;
}
.fb, .tw, .you,.lin {
    color: #ffffff;
    transition: all 0.3s ease;
}

.fb:hover{
    color: #4d6698;
}

.tw:hover{
    color: #69ccdb;
}


.you:hover{
    color: #ce3030;
}


.lin:hover{
    color: #3457db;
}

/*sm to lg*/
@media (min-width:0px){
    .nav > li{
        float: right;
    }
}
@media (max-width:767px){
    .nav-links > ul > li{
    width: 100%;
}
    }
/* END navbar */


/* START Home */

.logo-out{
    height: 400px;
}
.logo{
    background-image: url("logo.png");
    margin-bottom: 10px;
    background-size: 100% 100% , cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.features{
    margin-top: 50px;
}
.features h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
}

.features .feat h3 {
    font-size: 25px;
    font-weight: bold;
    color: black;
}

.features .feat p {
    color: black;
    text-align: center;
}
/* END Home */

/* START About Sesha */


#who-us p{
    margin-top: 5px;
}
.about-us-style{
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.about-us-style p{
    text-align: justify; 
}
.about-us-style img{
    margin-top: 15px;
    margin-bottom: 25px;
    border-radius: 15px;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}
.about-us-style div:hover img{
    -webkit-transform:scale(1.1,1.1);
    -moz-transform:scale(1.1,1.1);
    -o-transform:scale(1.1,1.1);
    transform:scale(1.1,1.1);   
 }
.about-us-style h1{
    text-align: right;   
}
/*xs*/
@media (max-width:767px){
       .about-us-style h1{
            text-align:center;   
        }
}
/* END About Sesha */

/* START Member */
.gray-bg{
    background-color: #EEE;
}
#members .row{
    margin-top: 30px;
    margin-bottom: 30px;   
}
 #members .board-member-div{
     margin-top: 20px;
     margin-bottom: 20px;
 }
 #members .board-member-div img{
     width: 100%;
     max-width: 200px;
    max-height: 180px;
    border-radius: 5px;
}
/*xs and sm*/
@media (max-width:767px){
       #members .board-member-div img{
            width: auto;
            max-height: 180px;
            border-radius: 5px;
        }
        #members .board-member-div h1{
            text-align:center;
        }
}
#members .board-member-div hi{
    text-align: right;
}
#members .board-member-div p{
    text-align: justify;
}
#members .board-member-div i{
    margin-top: 5px;
    font-size: 24px;
}
 #members .Volunteer-row{
     text-align:center;
 }
 #members .Volunteer-row img{
     border-radius: 50%;
     border: 2px solid #FFF;
     max-height: 75px;
     margin-bottom: 25px;
     -webkit-transition: all 1s ease-in-out;
     -moz-transition: all 1s ease-in-out;
     -o-transition: all 1s ease-in-out;
     transition: all 1s ease-in-out;
 }
#members .Volunteer-row div:hover img{
    border: 2px solid greenyellow;
    -webkit-transform:scale(1.5,1.5) rotate(360deg);
    -moz-transform:scale(1.5,1.5) rotate(360deg);
    -o-transform:scale(1.5,1.5) rotate(360deg);
    transform:scale(1.5,1.5) rotate(360deg);
}
.fbm, .twm, .goom,.linm {
    color: #2D2D2d;
    transition: all 0.3s ease;
}

.fbm:hover{
    color: #4d6698;
}

.twm:hover{
    color: #69ccdb;
}


.goom:hover{
    color: #ce3030;
}


.linm:hover{
    color: #3457db;
}

/* END Member
*/
/* START Hour of code */
#hour .description_style p{
        text-align: justify;

}
.parent-div{
    background-color: #FFF;   
}
.child-div-1{
    text-align: center;
    font-size: 48px;
    font-weight:bold;
    margin-top: 50px;
    margin-bottom: 30px;
}

child-div-2{
    margin: 50px;
}

.child-div-3{
    color: #333;
    margin-bottom: 50px;
}
.child-div-3 table{
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
}
.child-div-3 table thead th{
       text-align: center;
}
.child-div-3 table tbody th{
       text-align: center;
}
.description_style{
    font-size: 16px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.alert-host {
    padding: 20px;
    color: #000;
    text-align: center;
    font-size: 18px;
}
.alert-host strong{
    font-size: 35px;
}
.alert-host p {
    margin-top: 10px;
}


/*---------- start map style ----------*/
.tab-content > .tab-pane {
    display: block;
    height:0;
    overflow:hidden;
}

.tab-content > .active {
    display: block;
    height:auto;
}
#map{
    width: 100%;
    border-radius: 25px;
    border: 2px solid #A4A4A4;
}
/*xs*/
@media (max-width:767px){
    #map{
        height: 250px;
    } 
}
/*sm*/
@media (min-width:768px) and (max-width:991px){
    #map{
        height: 300px;
    } 
}
/*md*/
@media (min-width:992px) and (max-width:1199px){
    #map{
        height: 350px;
    } 
}
/*lg*/
@media (min-width:1200px){
    #map{
        height: 400px;
    }   
}
/*start marker windows*/
.content-windows{
     max-width: 300px;
    text-align: center;
}
.firstHeading{
    font-size: 20px;
}
.bodyContent{
}
.bodyContent-first-p{
    color: #848484;
}
.bodyContent-second-p{
    color:deepskyblue;
}
/*start marker windows*/
/*---------- end map style ----------*/
/* END Hour of code */

/* START next events */
.text_style_h1{
    text-align: center;  
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 50px;
}
.text_style_p{
    text-align: center;  
    font-size: 18px;
}
.location-date-style{
    font-size: 16;
    color:#000;
}
.img_style{
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
/*sm*/
@media (max-width:991px){
       .img_style{
            width: auto;
            max-height: 150px;
       }
}
.gray_bg{
    background-color: #EEE;  
    padding-bottom: 50px;
}
.nongray_bg{ 
    padding-bottom: 50px;
}
.nongray_bg:hover img{
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
    transform:scale(1.2,1.2);
}
.gray_bg:hover img{
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
    transform:scale(1.2,1.2);
}
.more-icon:hover{
    color: #585858;
}
/*----------start model styel----------*/
/*start event1 model style*/
#event1_model .modal-title{
    font-weight: bold;
    font-size: 24px;
}
#event1_model .modal-body p{
    color: #585858;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
}
#event1_model .modal-footer p{
    text-align: left; 
    color: #04B4AE;
}
#event1_model .nav-tabs > li{
    width: 50%;   
}
#event1_model .nav-tabs > li > a{
    text-align: center;
    color: #DDD;
    font-weight: bold;
    font-size: 18px;
}
#event1_model .nav-tabs > li.active > a,
#event1_model .nav-tabs > li.active > a:hover,
#event1_model .nav-tabs > li.active > a:focus{
    color: #333;
}
#event1_model .nav-tabs{
    margin-bottom: 30px;   
}
/*end event1 model style*/
/*----------end model styel----------*/
/* END next events */

/*START join us section */
/*start section join-us-header */

.join-us-header h1 {
    font-size: 40px;
    padding-top: 0;
    padding-bottom: 12px;
    font-family: 'El Messiri', sans-serif;
    font-weight: bold;
    color: black;
}

.join-us-header h1 span {
    color: #ffcc00;
    font-size: 25px;
}

.join-us-header .lead {
    color: black;
    font-size: 15px;
    margin-top: 15px;
}


/*end section join-us-header*/


/*start section projects*/

.projects {
    background-color: #f5f5f0;
    padding-bottom: 25px;
}

.proj {
    border: 1px solid #DDD;
    background-color: #ffffff;
    margin-top: 25px;
}

.proj:hover {
    border: 1px solid #8c8c8c;
}

.proj h3 {
    font-size: 25px;
    padding-top: 0;
    padding-bottom: 12px;
    font-weight: bold;
    color: black;
}

.proj .lead {
    color: black;
    font-size: 15px;
    margin-top: 15px;
}

.proj ul li {
    color: black;
    font-size: 15px;
    margin-top: 15px;
}

.proj a {
    margin-bottom: 15px;
}


/*end section projects*/
/*START join us section */