.text_style_h1{
    text-align: center;  
    font-weight: bold;
    font-family: cursive;
    color: forestgreen;
    margin-bottom: 30px;
    margin-top: 50px;
}
.text_style_p{
    text-align: center;  
    font-size: 18px;
    color: chocolate;
}
.location-date-style{
    font-family: cursive;
    font-size: 16;
    color:#333;
}
.img_style{
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 30px;
    -webkit-transition: all 1.5s ease-in-out;
    -moz-transition: all 1.5s ease-in-out;
    -o-transition: all 1.5s ease-in-out;
    transition: all 1.5s ease-in-out;
}
.gray_bg{
    background-color: #EEE;  
    padding-bottom: 50px;
}
.nongray_bg{ 
    padding-bottom: 50px;
}
.nongray_bg:hover img{
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
    transform:scale(1.2,1.2);
}
.gray_bg:hover img{
    -webkit-transform:scale(1.2,1.2);
    -moz-transform:scale(1.2,1.2);
    -o-transform:scale(1.2,1.2);
    transform:scale(1.2,1.2);
}
.more-icon:hover{
    color: limegreen;
}
/*----------start model styel----------*/
/*start event1 model style*/
#event1_model .modal-title{
    font-weight: bold;
    color: #04B486;
    font-family: cursive;
    font-size: 24px;
}
#event1_model .modal-body p{
    color: #585858;
    text-align:center;
    font-weight: bold;
    font-size: 14px;
    font-family: cursive;
}
#event1_model .modal-footer p{
    text-align: left; 
    color: #04B4AE;
}
#event1_model .nav-tabs > li{
    width: 50%;   
}
#event1_model .nav-tabs > li > a{
    text-align: center;
    color: #DDD;
    font-weight: bold;
    font-family: cursive;
    font-size: 18px;
}
#event1_model .nav-tabs > li.active > a,
#event1_model .nav-tabs > li.active > a:hover,
#event1_model .nav-tabs > li.active > a:focus{
    color: #333;
}
#event1_model .nav-tabs{
    margin-bottom: 30px;   
}
/*end event1 model style*/
/*----------end model styel----------*/