.parent-div{
    background-color: #FFF;   
}
.child-div-1{
    text-align: center;
    font-family: cursive;
    font-size: 48px;
    font-weight:bold;
    color:dodgerblue;
    margin-top: 50px;
    margin-bottom: 30px;
    text-shadow: 5px 5px 5px #333;
}
child-div-2{
    margin: 50px;
}

.child-div-3{
    color: #333;
    margin-bottom: 50px;
}
.child-div-3 table{
    margin-top: 20px;
    border-radius: 25px;
    overflow: hidden;
}
.child-div-3 table thead th{
       text-align: center;
}
.child-div-3 table tbody th{
       text-align: center;
}
.description_style{
    font-size: 16px;
    font-family: cursive;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
}
.host-warning-style strong {
    font-family: cursive;
    font-size: 26px;
    color: limegreen;
}
.host-warning-style{
    border-radius: 20px;
    text-align: center;
}
.host-warning-style p {
    font-family: cursive;
    font-size: 16px;
    color: #515A5A  ;
}
.host-warning-style i {
    color: #45B39D   ;
}
.host-warning-style .row{
    margin-top: 10px;
}
/*---------- start text-us-model ----------*/
#text-us-model .modal-header{
    color: limegreen;
    font-family: cursive;
}
#text-us-model .modal-body{
    min-height: 100px;   
}
#text-us-model .modal-body i{
    color: #45B39D   ;
}
#text-us-model .modal-body div{
    text-align: center;
}
/*---------- end text-us-model ----------*/

/*---------- start map style ----------*/
#map{
    width: 100%;
    border-radius: 25px;
    border: 2px solid #A4A4A4;
}
/*xs*/
@media (max-width:767px){
    #map{
        height: 250px;
    } 
}
/*sm*/
@media (min-width:768px) and (max-width:991px){
    #map{
        height: 300px;
    } 
}
/*md*/
@media (min-width:992px) and (max-width:1199px){
    #map{
        height: 350px;
    } 
}
/*lg*/
@media (min-width:1200px){
    #map{
        height: 400px;
    }   
}
/*start marker windows*/
.content-windows{
     max-width: 300px;
    text-align: center;
}
.firstHeading{
    color: forestgreen;
    font-family: cursive;
    font-size: 20px;
}
.bodyContent{
}
.bodyContent-first-p{
    color: #848484;
}
.bodyContent-second-p{
    color:deepskyblue;
}
/*start marker windows*/
/*---------- end map style ----------*/