<!DOCTYPE html>
<html dir="rtl" lang="ar">

<head>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>سيشا | Sesha </title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="mystyles.css"rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/droid-arabic-kufi" type="text/css"/>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container"> 
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header"> 
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-links" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">       
                  <a href="https://www.facebook.com/sesha.initiative/?ref=bookmarks"><i class="fa fa-youtube you"></i></a>
                  <a href="https://www.facebook.com/sesha.initiative/?ref=bookmarks"><i class="fa fa-linkedin lin"></i></a>
                  <a href="https://www.facebook.com/sesha.initiative/?ref=bookmarks"><i class="fa fa-twitter tw"></i></a>
                  <a href="https://www.facebook.com/sesha.initiative/?ref=bookmarks"><i class="fa fa-facebook fb"></i></a>           
            </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="nav-links collapse navbar-collapse" id="nav-links">  
                <ul class="nav navbar-nav nav-tabs navbar-right">
                    <li class="active"><a href="#home" data-toggle = "tab"><span class="fa fa-home" aria-hidden="true"></span> الرئيسية</a></li>
                     <li class = "dropdown">
                          <a href = "#" id = "myTabDrop1" class = "dropdown-toggle" data-toggle = "dropdown"><span class="fa fa-info-circle" aria-hidden="true"></span>
                             من نحن 
                             <b class = "caret"></b>
                          </a>

                          <ul class = "dropdown-menu"  role = "menu" aria-labelledby = "myTabDrop1">
                             <li>
                                <a href = "#who-us" tabindex = "-1" data-toggle = "tab">عن سيشا</a>
                             </li>

                             <li>
                                <a href = "#members" tabindex = "-1" data-toggle = "tab">القائمون</a>
                             </li>
                              
                              <li>
                                <a href = "#join-us" tabindex = "-1" data-toggle = "tab">انضم الينا</a>
                             </li>
                          </ul>

                    </li>
                    <li class="eng"><a href="#hour" data-toggle = "tab"><span class="fa fa-clock-o" aria-hidden="true"></span> Hour Of Code</a></li>
                    <li><a href="#next" data-toggle = "tab"><span class="fa fa-calendar" aria-hidden="true"></span> ما الجديد ؟</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <!-- SRART tabs -->
    <div class="tab-content" id = "myTabContent" >   
        <!-- START Home -->
        <div class = "container tab-pane fade in active" id="home">
            <div class="logo">
                <img src="img/logo.jpg" alt="Sesha logo" class="img-responsive" />
            </div>
            <div class="well well-lg">سيشا ترحب بكم</div>
        </div>
         <!-- END Home -->
        
         <!-- START who-us section -->
        <div class = "tab-pane fade" id="who-us">
             <section class="features text-center">
                 <div class="container">
                    <div class="row ">
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="feat"> 
                                <i class="fa fa-desktop fa-3x"></i>
                                <h3>علوم الحاسب هى كل شئ</h3>
                                <P class="lead">من حمزة الى العلق الكبير ابراهيم عليك بكتابة سطريين تحت كل عنوان </P>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="feat">
                                <i class="fa fa-battery-full fa-3x"></i>
                                <h3>هدفنا تحصيل المعرفة</h3>
                                <P class="lead">من حمزة الى العلق الكبير ابراهيم عليك بكتابة سطريين تحت كل عنوان </P>
                            </div>
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-0">
                            <div class="feat">
                                <i class="fa fa-book fa-3x"></i>
                                <h3>المعرفة هى كل شئ</h3>
                                <P class="lead">من حمزة الى العلق الكبير ابراهيم عليك بكتابة سطريين تحت كل عنوان </P>
                            </div>
                        </div>
                    </div>
                 </div>
            </section>
            <section class="about-us-style text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>عنوان الفقرة</h1>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-3"> 
                            <img class="img-responsive" src="img/who-us/p1.jpeg">
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-lg-9">
                            <p class="lead">سيفتح لهم الباب في التعرف على العالم من خلال الأوجه المختلفة للتكنولوجيا والذي بدوره سيساهم في ازدياد الوعي بقضايا عديدة تعبر عن مشاكل المجتمع في الوقت الحالي. ففي النهاية ستكون المحصلة المعرفية للموضوع أكبر وأعمّ من مجرد تعلّم لتكنولوجيا بذاتها أو إتقان استخدام جهاز بعينه. كما سيوفر عليهم ذلك عناء التعامل مع المستندات الورقية والتي انتهت من العالم الأول منذ عقود. فقررت البدء في مبادرة تحمل على عاتقها تعليم الفئات المذكورة أهمية التكنولوجيا والكمبيوتر، وكنت أظن أن الفجوة موجودة فقط في هذا المجال نظراً لحداثة </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="gray-bg about-us-style text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>عنوان الفقرة</h1>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-sm-push-8 col-lg-3 col-lg-push-9"> 
                            <img class="img-responsive" src="img/who-us/p1.jpeg">
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-sm-pull-4 col-lg-9 col-lg-pull-3">
                            <p class="lead">سيفتح لهم الباب في التعرف على العالم من خلال الأوجه المختلفة للتكنولوجيا والذي بدوره سيساهم في ازدياد الوعي بقضايا عديدة تعبر عن مشاكل المجتمع في الوقت الحالي. ففي النهاية ستكون المحصلة المعرفية للموضوع أكبر وأعمّ من مجرد تعلّم لتكنولوجيا بذاتها أو إتقان استخدام جهاز بعينه. كما سيوفر عليهم ذلك عناء التعامل مع المستندات الورقية والتي انتهت من العالم الأول منذ عقود. فقررت البدء في مبادرة تحمل على عاتقها تعليم الفئات المذكورة أهمية التكنولوجيا والكمبيوتر، وكنت أظن أن الفجوة موجودة فقط في هذا المجال نظراً لحداثة </p>
                        </div>
                    </div>
                </div>
            </section>
            <section class="about-us-style text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <h1>عنوان الفقرة</h1>
                        </div>
                        <div class="col-xs-6 col-xs-offset-3 col-sm-4 col-sm-offset-0 col-lg-3"> 
                            <img class="img-responsive" src="img/who-us/p1.jpeg">
                        </div>
                        <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-0 col-lg-9">
                            <p class="lead">سيفتح لهم الباب في التعرف على العالم من خلال الأوجه المختلفة للتكنولوجيا والذي بدوره سيساهم في ازدياد الوعي بقضايا عديدة تعبر عن مشاكل المجتمع في الوقت الحالي. ففي النهاية ستكون المحصلة المعرفية للموضوع أكبر وأعمّ من مجرد تعلّم لتكنولوجيا بذاتها أو إتقان استخدام جهاز بعينه. كما سيوفر عليهم ذلك عناء التعامل مع المستندات الورقية والتي انتهت من العالم الأول منذ عقود. فقررت البدء في مبادرة تحمل على عاتقها تعليم الفئات المذكورة أهمية التكنولوجيا والكمبيوتر، وكنت أظن أن الفجوة موجودة فقط في هذا المجال نظراً لحداثة </p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END who-us section -->
      
        <!-- START Members section -->
        <div class = "tab-pane fade" id="members">
            <!-- start board -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 board-member-div">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-1 ">
                            <div class="col-xs-12 text-center">
                                <img src="img/team/ibrahim.jpg">
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href=""><i class="fa fa-google-plus-square goom" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-linkedin-square linm" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-twitter-square twm" aria-hidden="true"></i></a>                                        <a href=""><i class="fa fa-facebook-square fbm" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6  ">
                            <h1>ابراهيم</h1>
                            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                        </div>
                    </div>
                </div>
                <div class="row gray-bg">
                    <div class="col-xs-12 board-member-div">
                        <div class="col-xs-12 col-sm-4 col-sm-offset-1 col-sm-push-7">
                            <div class="col-xs-12 text-center">
                                <img src="img/team/ibrahim.jpg">
                            </div>
                            <div class="col-xs-12 text-center">
                                <a href=""><i class="fa fa-google-plus-square goom" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-linkedin-square linm" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-twitter-square twm" aria-hidden="true"></i></a>                                        <a href=""><i class="fa fa-facebook-square fbm" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-sm-pull-3">
                            <h1>ابراهيم</h1>
                            <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end board -->
            <!-- start Volunteers -->
            <div class="container">
                <div class="row Volunteer-row">
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-3 col-lg-2 ">
                        <div class="col-xs-12">
                            <img src="img/team/ibrahim.jpg">
                        </div>
                        <div class="col-xs-12">
                            <p>test test test test test test test test test</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Volunteers -->
        </div>
        <!-- END Members section -->
        <!--START join us section-->
            <!--start sections-->
            <!--section 1-->
        <div class = "tab-pane fade" id="join-us">
            <section class="join-us-header text-center">
                <div class="container-fluid">
                    <h1> <strong>انضم إلى مجتمع سيشا</strong></h1>
                    <p class="lead">هذه مساحة لاتزيد عن سطرين تستطيع أن تعرض فيها العمل التطوعى واهميته</p>
                </div>
            </section>
            <!--end section 1-->
            <!--section 2-->
            <section class="join-us-img text-center">
                <div class="container-fluid"> <img class="img-responsive" src="img/join-us.png"></div>
            </section>
            <!--end section 2-->
            <!--section 3-->
            <section class="join-us-header text-center">
                <div class="container-fluid">
                    <h1> <strong>مشاريع سيشا الجارية</strong></h1>
                    <p class="lead">هذه مساحة اختيارية لاتزيد عن سطر واحد انا المصمم وعارف شغلى </p>
                </div>
            </section>
            <!--end section 3-->
            <!--start section projects-->
            <section class="projects text-center">
                <div class="container">
                    <div class="row ">
                        <!--start project 1-->
                        <div class=" col-lg-6 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="proj">
                                <h3>مشروع الترجمة</h3>
                                <p class="lead">يكتب هنا وصف للمشروع فى ثلاث سطور فقط </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                </ul> <a href="#" class="btn btn-primary">انضم الان</a> </div>
                        </div>
                        <!--end project 1-->
                        <!--start project 2-->
                        <div class=" col-lg-6 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="proj">
                                <h3>مشروع الفيديوهات القصيرة</h3>
                                <p class="lead">يكتب هنا وصف للمشروع فى ثلاث سطور فقط </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                </ul> <a href="#" class="btn btn-primary">انضم الان</a> </div>
                        </div>
                        <!--end project 2-->
                        <!--start project 3-->
                        <div class=" col-lg-6 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="proj">
                                <h3>ساعة من الكود</h3>
                                <p class="lead">يكتب هنا وصف للمشروع فى ثلاث سطور فقط </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                </ul> <a href="#" class="btn btn-primary">انضم الان</a> </div>
                        </div>
                        <!--end project 3-->
                        <!--start project 4-->
                        <div class=" col-lg-6 col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-0 col-md-4">
                            <div class="proj">
                                <h3>ساعة من المعرفة</h3>
                                <p class="lead">يكتب هنا وصف للمشروع فى ثلاث سطور فقط </p>
                                <ul class="list-unstyled">
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                    <li><i class="fa fa-check-circle fa-1x"></i> مهارة مكتسبة من المشروع</li>
                                </ul> <a href="#" class="btn btn-primary">انضم الان</a> </div>
                        </div>
                        <!--end project 4-->
                    </div>
                </div>
            </section>
        </div>
            <!--end section projects-->
        <!--END join us section-->
        
        
        <!-- START Hour Of Code section -->
        <div class = "tab-pane fade" id="hour">
    <!-- start map section -->
            <section class="map">
                <div class="container-fluid">
                    <div class="row parent-div">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="row">
                                <div class="col-xs-12 child-div-1 eng">
                                   Hour of code
                                </div>
                                <div  class="col-xs-12 col-md-6 child-div-2" >
                                    <div class="hidden-md hidden-lg col-xs-12 description_style">
                                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                                    </div>
                                    <div id="map"></div>
                                </div>
                                    <script>
                                    function myMap() {
                                      var mapCanvas = document.getElementById("map");
                                      var mapOptions = {
                                        center: new google.maps.LatLng(31.032178, 31.202202), 
                                        zoom: 9
                                      }
                                      var map = new google.maps.Map(mapCanvas, mapOptions);
                                        //------------------------start marker 1
                                        var marker1 = new google.maps.Marker({
                                          position: {lat: 31.045373, lng: 31.360637},
                                          map: map,
                                          title: 'Hour of code | Mansoura'
                                        });
                                        var contentString1 = '<div class="content-windows">'+
                                            '<h1 class="firstHeading">Hour of code | Mansoura</h1>'+
                                            '<div class="bodyContent">'+
                                            '<p class="bodyContent-first-p"><b><a href="https://www.facebook.com/Optimus.Space/" target="_blank">Optimus Coworking Space</a></b> co-working space, its better environment to study and work.</p>'+
                                            '<p class="bodyContent-second-p">Monday - 28 november at 12 pm</p>'+
                                            '</div>'+
                                            '</div>';

                                        var infowindow1 = new google.maps.InfoWindow({
                                          content: contentString1
                                        });
                                        marker1.addListener('click', function() {
                                          infowindow1.open(map, marker1);
                                        });
                                        //------------------------end marker 1

                                        //------------------------start marker 2
                                        var marker2 = new google.maps.Marker({
                                          position: {lat: 31.118573, lng: 30.943318},
                                          map: map,
                                          title: 'Hour of code | Kafr El-Shiekh'
                                        });
                                        var contentString2 = '<div class="content-windows">'+
                                            '<h1 class="firstHeading">Hour of code | Kafr El-Shiekh</h1>'+
                                            '<div class="bodyContent">'+
                                            '<p class="bodyContent-first-p"><b><a href="https://www.facebook.com/iGate.Coworking.Space/" target="_blank">I-Gate Coworking Space</a></b> co-working space, its better environment to study and work.</p>'+
                                            '<p class="bodyContent-second-p">tuesday and wednesday - 29 and 30 november at 3 pm.</p>'+
                                            '</div>'+
                                            '</div>';

                                        var infowindow2 = new google.maps.InfoWindow({
                                          content: contentString2
                                        });
                                        marker2.addListener('click', function() {
                                          infowindow2.open(map, marker2);
                                        });
                                        //------------------------end marker 2
                                    }
                                    </script>
                                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkLlHLh6XVYI6Qq5vxi_rmMmsB2MSFEGM&callback=myMap"></script>
                                <div class="col-xs-12 col-md-6 child-div-3">
                                    <div class="hidden-xs hidden-sm col-md-12 description_style">
                                        <p>هذا النص هو مثال لنص يمكن أن يستبدل في نفس المساحة، لقد تم توليد هذا النص من مولد النص العربى، حيث يمكنك أن تولد مثل هذا النص أو العديد من النصوص الأخرى إضافة إلى زيادة عدد الحروف التى يولدها التطبيق.
        إذا كنت تحتاج إلى عدد أكبر من الفقرات يتيح لك مولد النص العربى زيادة عدد الفقرات كما تريد، النص لن يبدو مقسما ولا يحوي أخطاء لغوية، مولد النص العربى مفيد لمصممي المواقع على وجه الخصوص، حيث يحتاج العميل فى كثير من الأحيان أن يطلع على صورة حقيقية لتصميم الموقع.</p>
                                    </div>
                                    <div class="col-xs-12">
                                        <table class="table text-center">
                                            <thead>
                                                <tr class="success">
                                                    <th>#</th>
                                                    <th>المكان</th>
                                                    <th>التاريخ</th>
                                                    <th>الوقت</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th scope="row">١</th>
                                                    <td>المنصوره</td>
                                                    <td>٢٨ نوفمبر ٢٠١٦</td>
                                                    <td>١٢ صباحاً</td>
                                                </tr>
                                                <tr class="active">
                                                    <th scope="row">١</th>
                                                    <td>كفر الشيخ</td>
                                                    <td> ٢۹  نوفمبر ٢٠١٦</td>
                                                    <td>١ صباحاً</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 alert alert-warning alert-host" role="alert">
                                    <div class="row text-center">
                                       <i class="fa fa-bell-o fa-2x" aria-hidden="true"></i> <strong class="eng">استضف Hour of code</strong><br>
                                        <p class="eng"> بإمكانك استضافة Hour of code بالتواصل معنا عن طريق احد الوسائل الآتيه</p>
                                    </div>
                                    <div class="text-center">    
                                        <span>01013164085</span> <i class="fa fa-phone fa-1x" aria-hidden="true"></i><br>
                                        <span>blabla@gmail.com</span> <i class="fa fa-envelope"></i>
                                    </div>
                                    <div class="col-xs-12 text-center">
                                        <a href=""><i class="fa fa-linkedin-square fa-2x linm" aria-hidden="true"></i></a>
                                        <a href=""><i class="fa fa-twitter-square fa-2x twm" aria-hidden="true"></i></a>                          <a href=""><i class="fa fa-facebook-square fa-2x fbm" aria-hidden="true"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- END Hour Of Code section -->
        
        <!-- START Next Events section -->
        <div class = "tab-pane fade" id="next">
                <!--start Model event 1-->
            <div id="event1_model" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title eng">Hour of code</h4>
                        </div>
                        <div class="modal-body">
                            <div>

                              <!-- Nav tabs -->
                              <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#arabic-model1" role="tab" data-toggle="tab">عربى</a></li>
                                <li role="presentation"><a href="#english-model1" role="tab" data-toggle="tab">English</a></li>
                              </ul>

                              <!-- Tab panes -->
                              <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="arabic-model1">
                                    <p>القرن التاسع عشر كان بداية الثورة الصناعية في العصر الحديث، واللي بدورها جابت معاها شكل مختلف تماماً للحياة </p>
                                    <p>والقرن العشرين كان معروف بالإنجازات الهندسية والفيزيائية اللي خلت الحياة أسهل وأسرع</p>
                                    <p>أما لو هنتكلم عن القرن الحادى والعشرين، فبالتأكيد هو قرن المعلوماتية والإنترنت.
            ولما نقول إن كمان كام سنة هنتعلم البرمجة زي ما بنتعلم القراءة والكتابة. يبقى لازم ناخد بالنا من أهمية الموضوع دلوقت </p>
                                    <p>في سنة 2014 بدأت منظمة اسمها Code.org بتنظيم أكبر حدث تعليمي في التاريخ البشري (<a href="https://hourofcode.com/files/hoc-one-pager.pdf">hourofcode</a> ) واللي أطلقت عليه اسم Hour Of Code أو ساعة من تعلّم الكود. الهدف من الحدث ده هو تبسيط المفاهيم المتعلقة بمبادئ البرمجة (الكود) وشرحها بطريقة سهلة. عشان نثبت حقيقة إن أي حد يقدر يتعلم المبادئ دي بسهولة، ويمارس علوم الحاسب لمدة ساعة</p>
                                    <p>طيب ليه علوم الحاسب مهمة؟ 
            ببساطة لأنها أساس كل حاجة في مستقبلنا، واللي هانحتاجها بعد كده في مجالات كتير جداً. مش لازم تتعلم البرمجة عشان تبقى مهندس برمجيات</p>
                                    <p>انت ممكن تبقى طبيب، مدرس، مزارع، صاحب بيزنيس، صيدلي أو أي حاجة تانية وتحتاج البرمجة وعلوم الحاسب عشان تساعدك في شغلك وتسهّل عليك حاجات كتير بتاخد منك وقت أكتر</p>
                                    <p>السنة دى، مبادرة سيشا، بالتعاون مع code.org هتستضيف Hour Of Code في مصر. وتحديداً في المنصورة. يوم الإثنين 28 نوفمبر الساعة 12، وكفر الشيخ يومى الثلاثاء 29 نوفمبر والأربعاء 30 نوفمبر الساعة 3. وهنحاول مع بعض إننا نفهم مبادئ البرمجة ونطلع بأقصى إستفادة</p>
                                    <p>ايه اللي محتاج أعرفه عشان أحضر؟ 
            مش محتاج أي خبرة سابقة أو معرفة بأي حاجة، محتاج بس تجيب معاك لاب توب أو تابلت عشان تقدر تطبّق عليه المبادئ اللي هانتعلمها. ومحتاج تملا الأبلكيشن ده: 
            **(فى حالة لو اللينك مافتحش معاك هتلاقيه فى البوست المثبت على الإيفنت )</p>
                                    <p>مين يقدر يحضر؟
            أي حد عنده إهتمام يطور من نفسه ويكتسب المعرفة الأساسية للقرن الحادى والعشرين يقدر يحضر. لو كنت طالب، موظف، خريج، متقاعد، ربّة منزل، أي حد وأي سن يقدر يحضر</p>
                                    <p>هل الحضور مجاني؟ 
            المحتوى والشهادة هتاخدهم بدون مقابل، لكن بندفع مبلغ رمزي (5ج) للمكان</p>
                                    <p>هل الموضوع هيبقى زحمة؟ 
            عشان نضمن جودة المحتوى المقدم، وعشان نقدر نتابع كل الناس الموجودين في الإيفينت. هنقسّم الناس لجروبات، كل جروب هيبقى عدده 20 شخص فقط. عشان نقدر كلنا نستوعب ونسأل ونتعلم بشكل أفضل</p>
                                  </div>
                                <div role="tabpanel" class="tab-pane" id="english-model1">
                                    <p>Since the beginning of our modern era. Each period of time had that one huge thing that changed the way man lives</p>
                                    <p>in the 19th century the industrial revolution had put a new starting point for the human civilization</p>
                                    <p>while the 20th century was known for the engineering achievements that has made everything easier and faster</p>
                                    <p>And if we look to the 21th century, we will see that for sure the internet and information technology are controlling our future. And maybe in the next years kids will be learning programming the same way they learn reading and writing</p>
                                    <p>"Hour of code" was held for the first time in 2004 by Code.org. And continued to be the biggest educational event in history. Aiming to simplify the basic concepts of programming in an easy way to approve that anyone can learn programming and practice it for one hour</p>
                                    <p>This year we are proud to announce that (Hour of code) event will be hosted in Egypt by Sesha initiative in association with Code.org</p>
                                    <p>Date of event:
                                    Mansoura:
                                    Monday - 28 november at 12 pm
                                    Kafrelsheikh:
                                    tuesday and wednesday - 29 and 30 november at 3 pm
                                    </p>
                                    <p>Who can attend the event?
                                    - The event is for everyone interested in developing his knowledge and skills in programming
                                    - Attendees are welcomed from any age
                                    </p>
                                    <p>You don't need previous experience or knowledge about programming for attending the event. What you need is:
                                    - A Laptop or a tablet for applying what you will learn
                                    - Fill the application in the following link: 
                                    **(in case the link doesn't work you can see it in pinned post)**
                                    </p>
                                    <p>The content and the certificate for attending the event is free for all attendees
                                    Only 5 LE are required for place entrance fees
                                    </p>
                                    <p>All the activities will be done at groups of 20 person to help everyone learn better and ensure the quality of event.</p>
                                  </div>
                              </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end Model event 1 -->
        <!--start Model event 2-->
            <div id="event2_model" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">event 2 head</h4>
                        </div>
                        <div class="modal-body">
                            <p>event 2 body</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end Model event 2 -->
        <!--start Model event 3-->
            <div id="event3_model" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">event 3 head</h4>
                        </div>
                        <div class="modal-body">
                            <p>event 3 body</p>
                        </div>
                    </div>
                </div>
            </div>
        <!-- end Model event 3 -->
        <div class="container-fluid">
            <div class="row gray_bg wow slideInLeft" data-wow-duration="1s" data-wow-offset="100">
                <div class="col-xs-12 wow bounceInDown" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                    <h1 class="text_style_h1 eng">Hour of code</h1>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-2 col-md-offset-2 wow bounceInLeft text-center" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <img class="img_style" src="img/pic1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-6 wow bounceInRight" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <div class="col-xs-12">
                            <p class="text_style_p">القرن التاسع عشر كان بداية الثورة الصناعية في العصر الحديث، واللي بدورها جابت معاها شكل مختلف تماماً للحياة </p>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p class="location-date-style">المنصوره : الاثنين - ٢٨ نوفمبر ٢٠١٦</p>
                        </div>
                        <div class="col-xs-12 text-center wow bounceInUp" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="80">
                            <i id="event1_bt" class="fa fa-chevron-circle-down fa-3x btn more-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row nongray_bg wow slideInRight" data-wow-duration="1s" data-wow-offset="100">
                <div class="col-xs-12 wow bounceInDown" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                    <h1 class="text_style_h1">عنوان الحدث</h1>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-2 col-md-offset-2 wow bounceInLeft text-center" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <img class="img_style" src="img/pic1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-6 wow bounceInRight" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <div class="col-xs-12">
                            <p class="text_style_p">القرن التاسع عشر كان بداية الثورة الصناعية في العصر الحديث، واللي بدورها جابت معاها شكل مختلف تماماً للحياة </p>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p class="location-date-style">location,date,time</p>
                        </div>
                        <div class="col-xs-12 text-center wow bounceInUp" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="80">
                            <i id="event2_bt" class="fa fa-chevron-circle-down fa-3x btn more-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row gray_bg wow slideInLeft" data-wow-duration="1s" data-wow-offset="100">
                <div class="col-xs-12 wow bounceInDown" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                    <h1 class="text_style_h1">عنوان الحدث</h1>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 col-md-2 col-md-offset-2 wow bounceInLeft text-center" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <img class="img_style" src="img/pic1.jpg">
                    </div>
                    <div class="col-xs-12 col-md-6 wow bounceInRight" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="100">
                        <div class="col-xs-12">
                            <p class="text_style_p">القرن التاسع عشر كان بداية الثورة الصناعية في العصر الحديث، واللي بدورها جابت معاها شكل مختلف تماماً للحياة </p>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p class="location-date-style">location,date,time</p>
                        </div>
                        <div class="col-xs-12 text-center wow bounceInUp" data-wow-delay=".7s" data-wow-duration="2s" data-wow-offset="80">
                            <i id="event3_bt" class="fa fa-chevron-circle-down fa-3x btn more-icon" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <!-- END Next Events section -->
    </div>
    
    
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
    <script src="js/wow.min.js"></script>
<script>
        new WOW().init();
        /*start text us bt model */
        $(document).ready(function(){
            $('#event1_bt').click(function(){
                $('#event1_model').modal('toggle');
            });
            $('#event2_bt').click(function(){
                $('#event2_model').modal('toggle');
            });
            $('#event3_bt').click(function(){
                $('#event3_model').modal('toggle');
            });
            
        });
        /*end text us bt model */
    
       
    </script>
    
   
</body>
</html>
